{% extends 'base.html' %}

{% block content %}
    <br><br>
    <nav class="path_bar">
        <div class="layout">
            <h4 class="path-tit"> About Us</h4>
            <ul class="path_nav">
                <li><a itemprop="breadcrumb" href="http://127.0.0.1:8000/eshop/home">Home</a></li>
                <li><a href="http://127.0.0.1:8000/eshop/about-us">About Us</a></li>
            </ul>
        </div>
    </nav>
    <section class="web_main page_main">

        <div class="layout">

            <!--<h2 class="page_title">-->
            <!--    About Us-->
            <!--  </h2>  -->

            <article class="entry blog-article">


                <div class="fl-builder-content fl-builder-content-824 fl-builder-content-primary fl-builder-global-templates-locked"
                     data-post-id="824">
                    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5ef0445bc75b8"
                         data-node="5ef0445bc75b8">
                        <div class="fl-row-content-wrap">
                            <div class="fl-row-content fl-row-full-width fl-node-content">

                                <div class="fl-col-group fl-node-5ef0445bc75ef" data-node="5ef0445bc75ef">
                                    <div class="fl-col fl-node-5ef0445bc7626 fl-col-small" data-node="5ef0445bc7626"
                                         style="width: 12.95%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-button fl-node-5ef0445bc7885"
                                                 data-node="5ef0445bc7885" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-button-wrap fl-button-width-auto fl-button-center">
                                                        <a href="https://www.groupeve.com/our-history/" target="_self"
                                                           class="fl-button" role="button">
                                                            <span class="fl-button-text">Our History</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5ef0445bc765e fl-col-small" data-node="5ef0445bc765e"
                                         style="width: 15.92%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-button fl-node-5ef0445bc7771"
                                                 data-node="5ef0445bc7771" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-button-wrap fl-button-width-auto fl-button-center">
                                                        <a href="https://www.groupeve.com/our-brands/" target="_self"
                                                           class="fl-button" role="button">
                                                            <span class="fl-button-text">Our Brands</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5ef0445bc7695 fl-col-small" data-node="5ef0445bc7695"
                                         style="width: 20.28%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-button fl-node-5ef0445bc784e"
                                                 data-node="5ef0445bc784e" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-button-wrap fl-button-width-auto fl-button-center">
                                                        <a href="https://www.groupeve.com/our-guiding-principles/"
                                                           target="_self" class="fl-button" role="button">
                                                            <span class="fl-button-text">Our Guiding Principles</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5ef0445bc76cc fl-col-small" data-node="5ef0445bc76cc"
                                         style="width: 17.63%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-button fl-node-5ef0445bc7817"
                                                 data-node="5ef0445bc7817" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-button-wrap fl-button-width-auto fl-button-center">
                                                        <a href="https://www.groupeve.com/our-responsibility/"
                                                           target="_self" class="fl-button" role="button">
                                                            <span class="fl-button-text">Our responsibility</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5ef0445bc7703 fl-col-small" data-node="5ef0445bc7703"
                                         style="width: 18.08%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-button fl-node-5ef0445bc77df"
                                                 data-node="5ef0445bc77df" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-button-wrap fl-button-width-auto fl-button-center">
                                                        <a href="https://www.groupeve.com/why-choose-us/" target="_self"
                                                           class="fl-button" role="button">
                                                            <span class="fl-button-text">Why Choose Us</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5ef0445bc773a fl-col-small" data-node="5ef0445bc773a"
                                         style="width: 15.14%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-button fl-node-5ef0445bc77a8"
                                                 data-node="5ef0445bc77a8" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-button-wrap fl-button-width-auto fl-button-center">
                                                        <a href="https://www.groupeve.com/our-certificate/"
                                                           target="_self" class="fl-button" role="button">
                                                            <span class="fl-button-text">Our Certificate</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5ee985771f826"
                         data-node="5ee985771f826">
                        <div class="fl-row-content-wrap">
                            <div class="fl-row-content fl-row-full-width fl-node-content">

                                <div class="fl-col-group fl-node-5ee985771f85d" data-node="5ee985771f85d">
                                    <div class="fl-col fl-node-5ee985771f894" data-node="5ee985771f894"
                                         style="width: 100%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-photo fl-node-5f20e8744ad0a"
                                                 data-node="5f20e8744ad0a" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-photo fl-photo-align-center" itemscope=""
                                                         itemtype="http://schema.org/ImageObject">
                                                        <div class="fl-photo-content fl-photo-img-jpg">
                                                            <img class="fl-photo-img wp-image-3869"
                                                                 src="../static/static/groupeve2.jpg" alt="groupeve"
                                                                 itemprop="image">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5ee97c6ba5d7f"
                         data-node="5ee97c6ba5d7f">
                        <div class="fl-row-content-wrap">
                            <div class="fl-row-content fl-row-full-width fl-node-content">

                                <div class="fl-col-group fl-node-5ee97c6ba5fb9" data-node="5ee97c6ba5fb9">
                                    <div class="fl-col fl-node-5ee97c6ba5ff2" data-node="5ee97c6ba5ff2"
                                         style="width: 100%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-rich-text fl-node-5ee97c6ba6029 fl-animation fl-slide-left fl-animated"
                                                 data-node="5ee97c6ba6029" data-animation-delay="0.5">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <p><strong><span
                                                                style="color: #cd2121;">Our Mission:&nbsp;</span> &nbsp;</strong>&nbsp;
                                                            Let's enjoy the sunshine.</p>
                                                        <p><span
                                                                style="color: #cd2121;"><strong>Our Vision:</strong></span>&nbsp;
                                                            &nbsp; &nbsp; &nbsp; Where there is sunshine, there is
                                                            Groupeve.</p>
                                                        <p><span style="color: #cd2121;"><strong>Our Values:</strong>&nbsp;</span>
                                                            &nbsp; &nbsp; &nbsp; Achievement of customers, honesty and
                                                            trustworthiness; Open innovation and strive for excellence.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5ee97c11db00b"
                         data-node="5ee97c11db00b">
                        <div class="fl-row-content-wrap">
                            <div class="fl-row-content fl-row-full-width fl-node-content">

                                <div class="fl-col-group fl-node-5ee97c11dce1d" data-node="5ee97c11dce1d">
                                    <div class="fl-col fl-node-5ee97c11dcfda fl-col-small" data-node="5ee97c11dcfda"
                                         style="width: 50%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-rich-text fl-node-5ee97bef167b9"
                                                 data-node="5ee97bef167b9" data-animation-delay="0.3">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <p style="text-align: justify;"><strong>Bathing in the sun makes
                                                            us warm and healthy.</strong></p>
                                                        <p style="text-align: justify;">Sitting in a spacious office and
                                                            feeling the fresh and bright sunlight passing through the
                                                            glass, we start a busy and fruitful day. No need to worry
                                                            the heat and sun-damage, because the roller fabric is
                                                            produced by Groupeve Company, which can not only block the
                                                            strong light and ultraviolet rays but also can transmit
                                                            light, ventilate, heat-insulate, save space and clean
                                                            easily, that’s why we can enjoy the unobstructed view and
                                                            beautiful sunshine all the way in the office.</p>
                                                        <p style="text-align: justify;">After World War II, heating,
                                                            ventilation, fluorescent lamps, integrated ceilings became
                                                            popular in buildings, but these facilities affected natural
                                                            lighting, so glass-walled office buildings appeared in the
                                                            1950s. They provided a broad view without obstruction, which
                                                            promoted the development of landscape offices in the 1960s.
                                                            In 1958, Mies and Johnson co-designed the 38-story New York
                                                            Seagram Building with glass curtain walls, ever since then,
                                                            the glass-walled buildings have been rising up all over the
                                                            world. Roller Blinds that can increase effective lighting
                                                            and block ultraviolet rays have become the focus of
                                                            attention.</p>
                                                        <p style="text-align: justify;">Mr. HEHJ of Groupeve has
                                                            searched and checked all kinds of sunshade products all over
                                                            the world, finally he found this fabric that met all of his
                                                            strict standards. In 2001, Groupeve imported a batch of
                                                            Teslin equipment, the unique Telewala technology makes the
                                                            product has many advantages, to name a few, long service
                                                            life, easy to clean, high transmittance and wide range of
                                                            width options. The curtain or roller blinds manufacturers
                                                            can choose the width from 1.83m/ 2m /2.5m /3m, which can
                                                            minimize waste and save costs. Strict quality control makes
                                                            Groupeve products achieve a 98% utilization rate, avoiding
                                                            waste fabric due to defects.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5ef05d97b8dce fl-col-small" data-node="5ef05d97b8dce"
                                         style="width: 50%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-photo fl-node-5ef05d97b8838 fl-animation fl-slide-left fl-animated"
                                                 data-node="5ef05d97b8838" data-animation-delay="0.5">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-photo fl-photo-align-center" itemscope=""
                                                         itemtype="http://schema.org/ImageObject">
                                                        <div class="fl-photo-content fl-photo-img-png">
                                                            <img class="fl-photo-img wp-image-1642 size-full"
                                                                 src="../static/static/SuneTex-Sunscreen-Zebra-Fabric.png"
                                                                 alt="SuneTex-Sunscreen-Zebra-Fabric" itemprop="image">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fl-col-group fl-node-5ef05e2ae3c11" data-node="5ef05e2ae3c11">
                                    <div class="fl-col fl-node-5ef05e2ae3f78" data-node="5ef05e2ae3f78"
                                         style="width: 100%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-rich-text fl-node-5ef05e20a4c67"
                                                 data-node="5ef05e20a4c67" data-animation-delay="0.3">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <p style="text-align: justify;">In the beginning, the fabric is
                                                            composited from fiberglass and PVC, after three years of
                                                            research; Groupeve used polyester to replace the glass fiber
                                                            to get a new product, which has better performance and lower
                                                            cost. It was quickly recognized by the global market.</p>
                                                        <p style="text-align: justify;">By now, Groupeve has developed
                                                            more than 2000 types of roller blinds fabrics, which are
                                                            exported to 82 countries around the world. More and more
                                                            glass office buildings have chosen Groupeve products.</p>
                                                        <p style="text-align: justify;">Fall in love and enjoy the
                                                            sunshine from Groupeve products.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5ef05f4b56d54"
                         data-node="5ef05f4b56d54">
                        <div class="fl-row-content-wrap">
                            <div class="fl-row-content fl-row-full-width fl-node-content">

                                <div class="fl-col-group fl-node-5ef05f4b5707c" data-node="5ef05f4b5707c">
                                    <div class="fl-col fl-node-5ef05f4b570b5" data-node="5ef05f4b570b5"
                                         style="width: 100%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-photo fl-node-5ef05f4b570ec fl-animation fl-slide-up fl-animated"
                                                 data-node="5ef05f4b570ec" data-animation-delay="0.5">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-photo fl-photo-align-center" itemscope=""
                                                         itemtype="http://schema.org/ImageObject">
                                                        <div class="fl-photo-content fl-photo-img-jpg">
                                                            <img class="fl-photo-img wp-image-3854"
                                                                 src="../static/static/r1-1.jpg" alt="r1-1"
                                                                 itemprop="image">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="clear"></div>

            </article>


            <hr>


        </div>

    </section>
{% endblock content %}

