{% extends 'base.html' %}

{% block content %}
    <br><br>
    <nav class="path_bar">
        <div class="layout">
            <h4 class="path-tit"> Contact Us</h4>
            <ul class="path_nav">
                <li><a itemprop="breadcrumb" href="http://127.0.0.1:8000/eshop/home">Home</a></li>
                <li><a href="http://127.0.0.1:8000/eshop/contact-us">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <section class="web_main page_main">

        <div class="layout">

            <h2 class="page_title">
                Contact Us </h2>

            <article class="entry blog-article">


                <div class="fl-builder-content fl-builder-content-349 fl-builder-content-primary fl-builder-global-templates-locked"
                     data-post-id="349">
                    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5f20d559009b5"
                         data-node="5f20d559009b5">
                        <div class="fl-row-content-wrap">
                            <div class="fl-row-content fl-row-full-width fl-node-content">

                                <div class="fl-col-group fl-node-5f20d559028ab" data-node="5f20d559028ab">
                                    <div class="fl-col fl-node-5f20d55902a66" data-node="5f20d55902a66"
                                         style="width: 100%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div id="map" class="fl-module fl-module-photo fl-node-5f20d559007a3"
                                                 data-node="5f20d559007a3" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-photo fl-photo-align-center" itemscope=""
                                                         itemtype="http://schema.org/ImageObject">
                                                        <div class="fl-photo-content fl-photo-img-jpg">
                                                            <img class="fl-photo-img wp-image-3788"
                                                                 src="../static/static/ty1.jpg" alt="ty1"
                                                                 itemprop="image">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5ef961203d166"
                         data-node="5ef961203d166">
                        <div class="fl-row-content-wrap">
                            <div class="fl-row-content fl-row-full-width fl-node-content">

                                <div class="fl-col-group fl-node-5f20d91377351" data-node="5f20d91377351">
                                    <div class="fl-col fl-node-5f20d91377738 fl-col-small" data-node="5f20d91377738"
                                         style="width: 25.69%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-icon fl-node-586a3633deeb6"
                                                 data-node="586a3633deeb6" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-icon-wrap">
	<span class="fl-icon">
				<i class="fa fa-home"></i>
			</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fl-module fl-module-rich-text fl-node-5f20d99ad3ac0"
                                                 data-node="5f20d99ad3ac0" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <p style="text-align: center;"><span
                                                                style="font-size: large; color: #333333;"><strong>ADDRESS</strong></span><br>
                                                            <span style="font-size: 17px; font-family: &#39;alegreya-sans-me&#39;;">No.1098 Middle Section of&nbsp; Jiannan Avenue, High-Tech. Zone, Chengdu, China</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5f20d91377779 fl-col-small" data-node="5f20d91377779"
                                         style="width: 11.59%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-separator fl-node-5f20dc45a8010"
                                                 data-node="5f20dc45a8010" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-separator"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5f20d913777b7 fl-col-small" data-node="5f20d913777b7"
                                         style="width: 22.72%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-icon fl-node-5efbe46896963"
                                                 data-node="5efbe46896963" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-icon-wrap">
	<span class="fl-icon">
				<i class="fa fa-envelope"></i>
			</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fl-module fl-module-rich-text fl-node-5f20d9f1db98d"
                                                 data-node="5f20d9f1db98d" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <p style="text-align: center;"><span
                                                                style="font-size: large; color: #333333;"><strong>E- MAIL</strong></span><br>
                                                            <span style="font-size: small;"><span
                                                                    style="font-size: 17px; font-family: &#39;alegreya-sans-me&#39;;"><a
                                                                    style="color: #666666;"
                                                                    href="mailto:info@groupeve.com">info@groupeve.com</a></span></span>
                                                        </p>
                                                        <p style="text-align: center;"><strong><span
                                                                style="font-size: large; font-family: arial, helvetica, sans-serif;">Whatsapp : </span></strong><span
                                                                style="font-size: medium; color: #666666;"><a
                                                                href="https://api.whatsapp.com/send?phone=8618981870029"><span
                                                                style="color: #666666;">+8618981870029</span></a></span>
                                                        </p>
                                                        <p style="text-align: center;"><strong><span
                                                                style="font-size: large; font-family: arial, helvetica, sans-serif;">Skype : </span></strong><span
                                                                style="font-size: medium; font-family: arial, helvetica, sans-serif; color: #666666;"><a
                                                                href="skype:groupeve?chat"><span
                                                                style="color: #666666;">groupeve</span></a></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5f20d913777f6 fl-col-small" data-node="5f20d913777f6"
                                         style="width: 20%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-separator fl-node-5f20db0b3aaa6"
                                                 data-node="5f20db0b3aaa6" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-separator"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5f20d91377841 fl-col-small" data-node="5f20d91377841"
                                         style="width: 20%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-icon fl-node-5efbe46c5de80"
                                                 data-node="5efbe46c5de80" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-icon-wrap">
	<span class="fl-icon">
				<i class="fa fa-phone"></i>
			</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fl-module fl-module-rich-text fl-node-5f20da01ab76a"
                                                 data-node="5f20da01ab76a" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <p style="text-align: center;"><span
                                                                style="color: #333333; font-size: large;"><strong>PHONE</strong></span><br>
                                                            <span style="font-size: small;"><span
                                                                    style="font-size: 17px; font-family: &#39;alegreya-sans-me&#39;;">0086 28 85333329</span></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fl-col-group fl-node-5f20d73c30338" data-node="5f20d73c30338">
                                    <div class="fl-col fl-node-5f20d73c305bd" data-node="5f20d73c305bd"
                                         style="width: 100%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-rich-text fl-node-5efbe2ce03c5d"
                                                 data-node="5efbe2ce03c5d" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <section class="inquiry-form-wrap ct-inquiry-form">
                                                            <script type="text/javascript"
                                                                    src="../static/js/form.js"></script>
                                                            <p></p>
                                                            <div class="ad_prompt">Write your message here and send it
                                                                to us
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5ef95e8736201"
                         data-node="5ef95e8736201">
                        <div class="fl-row-content-wrap">
                            <div class="fl-row-content fl-row-full-width fl-node-content">

                                <div class="fl-col-group fl-node-5ef95e8739a2d" data-node="5ef95e8739a2d">
                                    <div class="fl-col fl-node-5ef95e8739ba3" data-node="5ef95e8739ba3"
                                         style="width: 100%;">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-rich-text fl-node-5ef95e90e146f"
                                                 data-node="5ef95e90e146f" data-animation-delay="0.0">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="clear"></div>

            </article>

            <!---->

            <!--		<section class="inquiry-form-wrap ct-inquiry-form"><section class="layout"><script type="text/javascript" src="//www.globalso.site/form.js"></script><div class="ad_prompt">Write your message here and send it to us</div></section></section>	 -->

            <!---->

            <hr>


        </div>

    </section>
{% endblock content %}

