{% extends 'base.html' %}

{% block content %}
    <div class="slider_banner swiper-container-fade swiper-container-horizontal">
        <div class="swiper-wrapper" style="transition-duration: 0ms;">
            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3"
                 style="width: 1280px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;"><a
                    href="https://www.groupeve.com/products/"> <img src="../static/static/banner2gai2.jpg"
                                                                    alt="banner2gai"></a></div>
            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0"
                 style="width: 1280px; opacity: 1; transform: translate3d(-1280px, 0px, 0px); transition-duration: 0ms;">
                <a href="https://www.groupeve.com/sunscreen-fabric/"> <img src="../static/static/banner25.jpg"
                                                                           alt="banner2"></a></div>
            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1"
                 style="width: 1280px; opacity: 1; transform: translate3d(-2560px, 0px, 0px); transition-duration: 0ms;">
                <a href="https://www.groupeve.com/roller-blinds-fabric/"> <img src="../static/static/banner2-21.jpg"
                                                                               alt="banner2-2"></a></div>
            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2"
                 style="width: 1280px; opacity: 0; transform: translate3d(-3840px, 0px, 0px); transition-duration: 0ms;">
                <a href="https://www.groupeve.com/products/"> <img src="../static/static/banner14.jpg"
                                                                   alt="banner1"></a></div>
            <div class="swiper-slide" data-swiper-slide-index="3"
                 style="width: 1280px; opacity: 0; transform: translate3d(-5120px, 0px, 0px); transition-duration: 0ms;">
                <a href="https://www.groupeve.com/products/"> <img src="../static/static/banner2gai2.jpg"
                                                                   alt="banner2gai"></a></div>
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0"
                 style="width: 1280px; opacity: 0; transform: translate3d(-6400px, 0px, 0px); transition-duration: 0ms;">
                <a href="https://www.groupeve.com/sunscreen-fabric/"> <img src="../static/static/banner25.jpg"
                                                                           alt="banner2"></a></div>
        </div>
        <div class="swiper-pagination swiper-pagination-white swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <div class="index_about_wrap layout index_about_wraps">
        <div class="index_title">
            <h2 class="wow fadeInUpA  title animated" style="visibility: visible; animation-name: fadeInUpA;">PRODUCTS
                CATEGORY</h2>
        </div>


        <ul class="about_items_category">

            <li class="about_item">
                <figure><span class="item_img"> <a href="https://www.groupeve.com/sunscreen-fabric/"><img
                        src="../static/static/pro1.png" alt="Polye"><i><img src="../static/static/about_icon2.png"></i></a></span>
                    <figcaption>
                        <h3 class="item_title"><a href="https://www.groupeve.com/sunscreen-fabric/">Polyester Roller
                            Blinds Fabric</a></h3>
                        <!--<div class="item_del"></div>-->
                    </figcaption>
                </figure>
            </li>
            <li class="about_item">
                <figure><span class="item_img"> <a href="https://www.groupeve.com/roller-blinds-fabric/"><img
                        src="../static/static/pro2.png" alt="Sunsc"><i><img src="../static/static/about_icon2.png"></i></a></span>
                    <figcaption>
                        <h3 class="item_title"><a href="https://www.groupeve.com/roller-blinds-fabric/">Sunscreen Zebra
                            Fabric</a></h3>
                        <!--<div class="item_del"></div>-->
                    </figcaption>
                </figure>
            </li>
            <li class="about_item">
                <figure><span class="item_img"> <a href="https://www.groupeve.com/zebra-fabric/"><img
                        src="../static/static/pro3.png" alt="Zebra"><i><img src="../static/static/about_icon2.png"></i></a></span>
                    <figcaption>
                        <h3 class="item_title"><a href="https://www.groupeve.com/zebra-fabric/">Zebra Fabric</a></h3>
                        <!--<div class="item_del"></div>-->
                    </figcaption>
                </figure>
            </li>
            <li class="about_item">
                <figure><span class="item_img"> <a href="https://www.groupeve.com/others/"><img
                        src="../static/static/pro4.png" alt="Other"><i><img src="../static/static/about_icon2.png"></i></a></span>
                    <figcaption>
                        <h3 class="item_title"><a href="https://www.groupeve.com/others/">Others</a></h3>
                        <!--<div class="item_del"></div>-->
                    </figcaption>
                </figure>
            </li>


        </ul>
    </div>
    <div class="index_ad" style="background:#3f3f3f;">

      <div class="layout">
            <div class="index_ad_item">
                <h2>FREE FABRIC SAMPLES MORE THAN 650 PATTERNS</h2>
                <p>To meet the needs of regional market</p>
                <img src="../static/static/about.png">
            </div>
            <div class="index_ad_item">
                <div class="contact_box">
                    <div class="contact_box_item">
                        <h2>fabric distributor plan</h2>
                        <p><span>$</span><span>0</span></p>
                        <ul>
                            <li><span>125 Patterns</span><p>Sunscreen Fabric</p></li>
                            <li><span>55 Patterns</span><p>Sunscreen Zebra Fabric</p></li>
                            <li><span>171 Patterns</span><p>Polyester Zebra Fabric</p></li>
                            <li><span>125 Patterns</span><p>Polyester Semi-Blackout Fabric</p></li>
                            <li><span>120 Patterns</span><p>Polyester Blackout Fabric</p></li>
                            <li><span>64 Patterns</span><p>Fiberglass Blackout Fabric</p></li>

                        </ul>
                        <div class="contact_button"><a class="contact_email" href="javascript:">ORDER NOW</a></div>
                    </div>

                </div>

            </div>
            <div class="index_ad_item">
                <h3>About us</h3>
                <h4>Groupeve CO ., LTD</h4>
                <p>Groupeve is a creative sunshade fabric manufacturing enterprise integrating design, R&amp;D and sales. It comes with Premium System, the famous corporate ever.</p>
                <a href="https://www.groupeve.com/about-us/">More</a>
                <div class="index_ad_video">
                    <div class="index_ad_video_box">
                    <a class="fancybox" href="https://www.groupeve.com/video/"><img src="../static/static/video_img.png"></a>
                    <i><a class="fancybox" href="https://www.groupeve.com/video/"><img src="../static/static/video_icon.png"></a></i>
                    </div>
                </div>
            </div>
      </div>
    </div>
{% endblock content %}

