{% extends 'base.html' %}

{% block content %}
<section class="page_banner">

<li>
     <img src="../static/static/Newsbg.jpg" alt="Newsbg">
 </li>
  </section>
<nav class="path_bar">
  <div class="layout">
  <h4 class="path-tit"> News</h4>
      <ul class="path_nav">
       <li> <a itemprop="breadcrumb" href="http://127.0.0.1:8000/eshop/home">Home</a></li><li> <a href="http://127.0.0.1:8000/eshop/news">News</a></li>
    </ul>
	</div>
  </nav>

<section class="web_main page_main">


  <div class="layout">
    <aside class="aside">
  <section class="aside-wrap">
    <section class="side-widget">
    <div class="side-tit-bar">
      <h4 class="side-tit">News</h4>
    </div>
    <ul class="side-cate">
      <li id="menu-item-3241" class="menu-item menu-item-type-taxonomy menu-item-object-news_catalog menu-item-3241"><a href="https://www.groupeve.com/news_catalog/company-news/">Company News</a></li>
<li id="menu-item-3242" class="menu-item menu-item-type-taxonomy menu-item-object-news_catalog menu-item-3242"><a href="https://www.groupeve.com/news_catalog/industry-news/">Industry News</a></li>
    </ul>
	<div class="side-widget">
    <div class="side-tit-bar">
      <h2 class="side-tit">Featured products</h2>
    </div>
    <div class="side-product-items">
      <div class="items_content">
        <ul>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/home-decor-verman-blinds-fabric-semi-blackout-product/"><img src="../static/static/Home-Decor-Verman-Blinds-Fabric-Semi-blackout-5-300x300.jpg" alt="Home Decor Verman Blinds Fabric Semi-blackout"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/home-decor-verman-blinds-fabric-semi-blackout-product/">Home Decor Verman Blinds Fabric Semi-blackout</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/home-decor-verman-blinds-fabric-semi-blackout-product/" class="add-friend"></a> </li>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/new-design-wholesale-ladder-tape-shangri-la-blinds-fabric-blackout-product/"><img src="../static/static/New-Design-Wholesale-Ladder-Tape-Shangri-La-Blinds-Fabric-Blackout-3-300x300.jpg" alt="New Design Wholesale Ladder Tape Shangri-La Blinds Fabric Blackout"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/new-design-wholesale-ladder-tape-shangri-la-blinds-fabric-blackout-product/">New Design Wholesale Ladder Tape Shangri-La Blinds F...</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/new-design-wholesale-ladder-tape-shangri-la-blinds-fabric-blackout-product/" class="add-friend"></a> </li>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/home-decor-horizontal-shangri-la-blind-fabric-semi-blackout-product/"><img src="../static/static/Home-Decor-Horizontal-Shangri-La-Blind-Fabric-Semi-Blackout-3-300x300.jpg" alt="Home Decor Horizontal Shangri-La Blind Fabric Semi-Blackout"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/home-decor-horizontal-shangri-la-blind-fabric-semi-blackout-product/">Home Decor Horizontal Shangri-La Blind Fabric Semi-B...</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/home-decor-horizontal-shangri-la-blind-fabric-semi-blackout-product/" class="add-friend"></a> </li>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/triple-shade-shangri-la-roller-blinds-fabric-for-restaurants-product/"><img src="../static/static/Triple-Shade-Shangri-La-Roller-Blinds-Fabric-For-Restaurants-4-300x300.jpg" alt="Triple Shade Shangri-La Roller Blinds Fabric For Restaurants"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/triple-shade-shangri-la-roller-blinds-fabric-for-restaurants-product/">Triple Shade Shangri-La Roller Blinds Fabric For Res...</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/triple-shade-shangri-la-roller-blinds-fabric-for-restaurants-product/" class="add-friend"></a> </li>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/home-decor-dual-rainbow-blinds-fabric-for-office-product/"><img src="../static/static/Home-Decor-Dual-Rainbow-Blinds-Fabric-For-Office-1-300x300.jpg" alt="Home Decor Dual Rainbow Blinds Fabric For Office"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/home-decor-dual-rainbow-blinds-fabric-for-office-product/">Home Decor Dual Rainbow Blinds Fabric For Office</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/home-decor-dual-rainbow-blinds-fabric-for-office-product/" class="add-friend"></a> </li>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/china-decor-privacy-zebra-blind-fabric-for-office-window-screen-product/"><img src="../static/static/China-Decor-Privacy-Zebra-Blind-Fabric-For-Office-Window-Screen-2-300x300.jpg" alt="China Decor Privacy Zebra Blind Fabric For Office Window Screen"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/china-decor-privacy-zebra-blind-fabric-for-office-window-screen-product/">China Decor Privacy Zebra Blind Fabric For Office Wi...</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/china-decor-privacy-zebra-blind-fabric-for-office-window-screen-product/" class="add-friend"></a> </li>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/multi-colored-double-layer-blinds-fabric-100-polyester-product/"><img src="../static/static/dce5a826-300x300.jpg" alt="Multi-colored Double Layer Blinds Fabric 100% Polyester"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/multi-colored-double-layer-blinds-fabric-100-polyester-product/">Multi-colored Double Layer Blinds Fabric 100% Polyester</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/multi-colored-double-layer-blinds-fabric-100-polyester-product/" class="add-friend"></a> </li>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/rainbow-roller-blinds-day-night-zebra-curtain-shades-and-matching-vertical-blinds-product/"><img src="../static/static/Rainbow-Roller-Blinds-Day-Night-Zebra-Curtain-Shades-and-Matching-Vertica-1-300x300.jpg" alt="Rainbow Roller Blinds Day-Night-Zebra Curtain Shades and Matching Vertical Blinds"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/rainbow-roller-blinds-day-night-zebra-curtain-shades-and-matching-vertical-blinds-product/">Rainbow Roller Blinds Day-Night-Zebra Curtain Shades...</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/rainbow-roller-blinds-day-night-zebra-curtain-shades-and-matching-vertical-blinds-product/" class="add-friend"></a> </li>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/printing-blackout-zebra-day-and-night-rainbow-duo-blinds-fabric-product/"><img src="../static/static/Printing-Blackout-Zebra-Day-and-Night-Rainbow-Duo-Blinds-Fabric-2-300x300.jpg" alt="Printing Blackout Zebra Day and Night Rainbow Duo Blinds Fabric"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/printing-blackout-zebra-day-and-night-rainbow-duo-blinds-fabric-product/">Printing Blackout Zebra Day and Night Rainbow Duo Bl...</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/printing-blackout-zebra-day-and-night-rainbow-duo-blinds-fabric-product/" class="add-friend"></a> </li>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/china-roller-blinds-day-night-shades-part-component-office-sunscreen-fabric-product/"><img src="../static/static/China-Roller-Blinds-Day-Night-Shades-Part-Component-Office-Sunscreen-Fabric-1-300x300.jpg" alt="China Roller Blinds Day &amp; Night Shades Part Component Office Sunscreen Fabric"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/china-roller-blinds-day-night-shades-part-component-office-sunscreen-fabric-product/">China Roller Blinds Day &amp; Night Shades Part Com...</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/china-roller-blinds-day-night-shades-part-component-office-sunscreen-fabric-product/" class="add-friend"></a> </li>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/china-office-side-screen-custom-sunscreen-zebra-automatic-roller-blinds-shading-fabric-product/"><img src="../static/static/China-Office-Side-Screen-Custom-Sunscreen-Zebra-Automatic-Roller-Bli-1-300x300.jpg" alt="China Office Side Screen Custom Sunscreen Zebra Automatic Roller Blinds Shading Fabric"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/china-office-side-screen-custom-sunscreen-zebra-automatic-roller-blinds-shading-fabric-product/">China Office Side Screen Custom Sunscreen Zebra Auto...</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/china-office-side-screen-custom-sunscreen-zebra-automatic-roller-blinds-shading-fabric-product/" class="add-friend"></a> </li>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/china-machine-mainland-faux-linen-zebra-dual-day-and-night-roller-blinds-fabric-product/"><img src="../static/static/China-Machine-Mainland-Faux-Linen-Zebra-Dual-Day-and-Night-Roller-Blinds-Fa-1-300x300.jpg" alt="China Machine Mainland Faux Linen Zebra Dual Day and Night Roller Blinds Fabric"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/china-machine-mainland-faux-linen-zebra-dual-day-and-night-roller-blinds-fabric-product/">China Machine Mainland Faux Linen Zebra Dual Day and...</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/china-machine-mainland-faux-linen-zebra-dual-day-and-night-roller-blinds-fabric-product/" class="add-friend"></a> </li>
                    <li class="side_product_item">
            <figure> <a class="item-img" href="https://www.groupeve.com/china-windows-sun-shade-polyester-sunscreen-rolling-motorized-blind-fabric-product/"><img src="../static/static/19-China-Windows-Sun-Shade-Polyester-Sunscreen-Rolling-Motorized-Blind-Fabric-3-300x300.jpg" alt="China Windows Sun Shade Polyester Sunscreen Rolling Motorized Blind Fabric"></a>
              <figcaption>
                <div class="item_text"><a href="https://www.groupeve.com/china-windows-sun-shade-polyester-sunscreen-rolling-motorized-blind-fabric-product/">China Windows Sun Shade Polyester Sunscreen Rolling ...</a></div>
              </figcaption>
            </figure>
            <a href="https://www.groupeve.com/china-windows-sun-shade-polyester-sunscreen-rolling-motorized-blind-fabric-product/" class="add-friend"></a> </li>
                  </ul>
      </div>
    </div>
  </div>
  </section>
    </section>
</aside>    <section class="main  Product-list-Page">

      <div class="blog_list">
        <h2 class="page_title">
          News        </h2>
        <ul>
                    <li class="blog-item">
            <figure class="item-wrap">
                            <figcaption class="item-info">
                <h3 class="item-title"><a href="https://www.groupeve.com/news/m1-class-fiberglass-sunscreen-fabric-for-high-speed-railway-windows/">M1 class fiberglass sunscreen fabric for High-speed railway windows</a></h3>
                <time>by admin on
                  21-05-25                </time>
                <div class="item-detail">Recently Groupeve customized one kind special fiberglass sunscreen for&nbsp;European client and client just finished the test.&nbsp;This fabric is widely used for&nbsp;High-speed railway windows and have requirem...</div>
                <a href="https://www.groupeve.com/news/m1-class-fiberglass-sunscreen-fabric-for-high-speed-railway-windows/" class="item-more">Read more</a> </figcaption>
            </figure>
          </li>
                    <li class="blog-item">
            <figure class="item-wrap">
                            <a class="item-img" href="https://www.groupeve.com/news/sunscreen-fabric-120ft-container-export-to-abroad/"><img class="blog-img" src="../static/static/WechatIMG4872.jpeg" alt="Sunscreen Fabric 1*20ft Container export to abroad"></a>
                            <figcaption class="item-info">
                <h3 class="item-title"><a href="https://www.groupeve.com/news/sunscreen-fabric-120ft-container-export-to-abroad/">Sunscreen Fabric 1*20ft Container export to abroad</a></h3>
                <time>by admin on
                  21-05-19                </time>
                <div class="item-detail">Another 1*20ft container of sunscreen fabric has been shipped last week.
It is just one of our full container orders this month.
During the epidemic, many customers postponed their orders so that t...</div>
                <a href="https://www.groupeve.com/news/sunscreen-fabric-120ft-container-export-to-abroad/" class="item-more">Read more</a> </figcaption>
            </figure>
          </li>
                    <li class="blog-item">
            <figure class="item-wrap">
                            <figcaption class="item-info">
                <h3 class="item-title"><a href="https://www.groupeve.com/news/0-openness-blackout-sunscreen-fabric-without-coating/">0% Openness Blackout Sunscreen Fabric without Coating</a></h3>
                <time>by admin on
                  21-04-22                </time>
                <div class="item-detail">In March 2021 R&amp;T, we have new products showed in this fair- 0% Openness Blackout Sunscreen Fabric without Coating, most of blackout sunscreen fabric should be with PVC film or Coating for blac...</div>
                <a href="https://www.groupeve.com/news/0-openness-blackout-sunscreen-fabric-without-coating/" class="item-more">Read more</a> </figcaption>
            </figure>
          </li>
                    <li class="blog-item">
            <figure class="item-wrap">
                            <figcaption class="item-info">
                <h3 class="item-title"><a href="https://www.groupeve.com/news/will-you-buy-a-zip-track-blinds-which-is-already-3-times-of-your-current-quotes/">Will you buy a zip track blinds which is already 3 times of your current quotes?</a></h3>
                <time>by admin on
                  21-04-20                </time>
                <div class="item-detail">This month we finished a special zip track blinds order from Alibaba: client need 1.2mx1.2m blinds and got quotes from many suppliers as most clients usually do, comparing to the the cheapest price...</div>
                <a href="https://www.groupeve.com/news/will-you-buy-a-zip-track-blinds-which-is-already-3-times-of-your-current-quotes/" class="item-more">Read more</a> </figcaption>
            </figure>
          </li>
                    <li class="blog-item">
            <figure class="item-wrap">
                            <figcaption class="item-info">
                <h3 class="item-title"><a href="https://www.groupeve.com/news/motorized-zip-track-system-blinds-sample-case-with-tools/">Motorized zip track system blinds sample case with tools</a></h3>
                <time>by admin on
                  21-04-15                </time>
                <div class="item-detail">Are you a resaler of motorized zip track system blinds fabric and&nbsp;components?
Just over there! We are manufacturer for all kinds of blinds fabrics and&nbsp;components in China, just carry our below show...</div>
                <a href="https://www.groupeve.com/news/motorized-zip-track-system-blinds-sample-case-with-tools/" class="item-more">Read more</a> </figcaption>
            </figure>
          </li>
                    <li class="blog-item">
            <figure class="item-wrap">
                            <a class="item-img" href="https://www.groupeve.com/news/welcome-to-rt-asia-2021/"><img class="blog-img" src="../static/static/sunshade-fabric.jpg" alt="Welcome to R+T Asia 2021"></a>
                            <figcaption class="item-info">
                <h3 class="item-title"><a href="https://www.groupeve.com/news/welcome-to-rt-asia-2021/">Welcome to R+T Asia 2021</a></h3>
                <time>by admin on
                  21-03-03                </time>
                <div class="item-detail">Dear customers,
Sichuan Groupeve Co.,&nbsp;Ltd. is pleased to invite you to attend&nbsp;The 16th R+T Asia Trade Fair from 24th&nbsp;- 26th&nbsp;Mar 2021.
Our company established in 2001, has been committed to providin...</div>
                <a href="https://www.groupeve.com/news/welcome-to-rt-asia-2021/" class="item-more">Read more</a> </figcaption>
            </figure>
          </li>
                    <li class="blog-item">
            <figure class="item-wrap">
                            <a class="item-img" href="https://www.groupeve.com/news/new-collection-of-silver-coating-blackout-blinds-fabric/"><img class="blog-img" src="../static/static/silver-coating-fabric1.png" alt="New collection of silver coating blackout blinds fabric"></a>
                            <figcaption class="item-info">
                <h3 class="item-title"><a href="https://www.groupeve.com/news/new-collection-of-silver-coating-blackout-blinds-fabric/">New collection of silver coating blackout blinds fabric</a></h3>
                <time>by admin on
                  20-11-06                </time>
                <div class="item-detail">
Groupeve developed some new style of fabrics this month.
This series are silver coating blackout roller blinds fabric. The standard width is 2m/2.5m/3m, roll length is 35m&nbsp;or 50m.&nbsp;Available in a b...</div>
                <a href="https://www.groupeve.com/news/new-collection-of-silver-coating-blackout-blinds-fabric/" class="item-more">Read more</a> </figcaption>
            </figure>
          </li>
                    <li class="blog-item">
            <figure class="item-wrap">
                            <a class="item-img" href="https://www.groupeve.com/news/new-collection-of-roller-blinds-fabric-2/"><img class="blog-img" src="../static/static/pearlic-roller-fabric1.png" alt="New collection of pearlic roller blinds fabric"></a>
                            <figcaption class="item-info">
                <h3 class="item-title"><a href="https://www.groupeve.com/news/new-collection-of-roller-blinds-fabric-2/">New collection of pearlic roller blinds fabric</a></h3>
                <time>by admin on
                  20-11-06                </time>
                <div class="item-detail">
Groupeve developed some new style of fabrics this month.
This series are semi-blackout pearlic roller blinds fabric. The standard width is 2m/2.5m/3m, roll length is 35m&nbsp;or 50m.&nbsp;Available in a bro...</div>
                <a href="https://www.groupeve.com/news/new-collection-of-roller-blinds-fabric-2/" class="item-more">Read more</a> </figcaption>
            </figure>
          </li>
                    <li class="blog-item">
            <figure class="item-wrap">
                            <a class="item-img" href="https://www.groupeve.com/news/new-collection-of-roller-blinds-fabric/"><img class="blog-img" src="../static/static/roller-fabric1.png" alt="New collection of roller blinds fabric"></a>
                            <figcaption class="item-info">
                <h3 class="item-title"><a href="https://www.groupeve.com/news/new-collection-of-roller-blinds-fabric/">New collection of roller blinds fabric</a></h3>
                <time>by admin on
                  20-11-06                </time>
                <div class="item-detail">
Groupeve developed some new style of fabrics this month.
This series are semi-blackout roller blinds fabric. The standard width is 2m/2.5m/3m, roll length is 35m&nbsp;or 50m.&nbsp;Available in a broad range...</div>
                <a href="https://www.groupeve.com/news/new-collection-of-roller-blinds-fabric/" class="item-more">Read more</a> </figcaption>
            </figure>
          </li>
                    <li class="blog-item">
            <figure class="item-wrap">
                            <a class="item-img" href="https://www.groupeve.com/news/sunetex-ready-stock-sunscreen-fabric/"><img class="blog-img" src="../static/static/stock-sunscreen-fabric3.png" alt="Sunetex Ready Stock Sunscreen Fabric"></a>
                            <figcaption class="item-info">
                <h3 class="item-title"><a href="https://www.groupeve.com/news/sunetex-ready-stock-sunscreen-fabric/">Sunetex Ready Stock Sunscreen Fabric</a></h3>
                <time>by admin on
                  20-09-30                </time>
                <div class="item-detail">Groupeve has been committed to producing high-quality fabrics and providing the best service for customers.
And try to shorten the transportation time as much as possible.
In September, another bat...</div>
                <a href="https://www.groupeve.com/news/sunetex-ready-stock-sunscreen-fabric/" class="item-more">Read more</a> </figcaption>
            </figure>
          </li>
                    <li class="blog-item">
            <figure class="item-wrap">
                            <a class="item-img" href="https://www.groupeve.com/news/newly-made-zebra-blinds-arrived-in-uk/"><img class="blog-img" src="../static/static/ZEBRA-BLINDS-22.jpg" alt="Newly made zebra blinds arrived in UK!"></a>
                            <figcaption class="item-info">
                <h3 class="item-title"><a href="https://www.groupeve.com/news/newly-made-zebra-blinds-arrived-in-uk/">Newly made zebra blinds arrived in UK!</a></h3>
                <time>by admin on
                  20-09-30                </time>
                <div class="item-detail">One of Groupeve’s regular buyer’s second blinds order arrived in UK and shared her well installed blinds picture with us, this blinds is made by using Groupeve zebra fabric&nbsp;&nbsp;WF20-8,&nbsp; a ...</div>
                <a href="https://www.groupeve.com/news/newly-made-zebra-blinds-arrived-in-uk/" class="item-more">Read more</a> </figcaption>
            </figure>
          </li>
                    <li class="blog-item">
            <figure class="item-wrap">
                            <a class="item-img" href="https://www.groupeve.com/news/2020-rt-asia-exhibition-extension-notice/"><img class="blog-img" src="../static/static/R+T-1.jpg" alt="2020 R+T Asia Exhibition Extension Notice"></a>
                            <figcaption class="item-info">
                <h3 class="item-title"><a href="https://www.groupeve.com/news/2020-rt-asia-exhibition-extension-notice/">2020 R+T Asia Exhibition Extension Notice</a></h3>
                <time>by admin on
                  20-06-18                </time>
                <div class="item-detail">


	Dear customers:
 Due to the outbreak of the COVID-19 pneumonia infection all over the world and in order to protect the health and safety of exhibitors and visitors,R+T As...</div>
                <a href="https://www.groupeve.com/news/2020-rt-asia-exhibition-extension-notice/" class="item-more">Read more</a> </figcaption>
            </figure>
          </li>
                  </ul>
        <div class="page_bar">
        <div class="pages"><a href="https://www.groupeve.com/news/" class="current">1</a><a href="https://www.groupeve.com/news/page/2/">2</a><a href="https://www.groupeve.com/news/page/2/"> Next &gt; </a><a href="https://www.groupeve.com/news/page/2/" class="extend" title="The Last Page">&gt;&gt;</a> <span class="current2">Page 1 / 2</span></div>
      </div>
      </div>

    </section>
  </div>
</section>
{% endblock content %}

